.button {
  display: inline-flex;
  align-items: center;
  border: none;
  padding: 12px 32px;
  margin: 20px;

  background-color: indianred;
  color: white;
  border-radius: 3px;
  cursor: pointer;

  /* 
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-delay: 500ms;
   */

  transition: 300ms ease background-color;

  /* 1-й способ */
  /* will-change: transform, opacity, color, background; */
}

.button:before,
.button:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;

  margin-right: 8px;
  margin-left: 8px;

  transition: 300ms ease;
  transition-property: opacity, transform;
}

.button:before {
  background-image: url(../images/dice.svg);
}

.button:after {
  opacity: 0;
  background-image: url(../images/location.svg);
}

.button:hover {
  background-color: darkslateblue;

  /* 2-й способ */
  /* Процессор */
  /* transform: translate(-50%, -50%); */

  /* Видеокарта */
  /* transform: translate3d(-50%, -50%, 0); */
}

.button > * {
  transition: 300ms ease transform;
}

.button:hover > *,
.button:hover:before,
.button:hover:after {
  transform: translateX(-20px);
}

.button:hover:before {
  opacity: 0;
}

.button:hover:after {
  opacity: 1;
}
