@keyframes fade-in {
  from {
    transform: none;
  }

  20% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.2) translateY(-50px);
  }

  to {
    transform: scale(1.2) translateY(-50px) translateX(-50px);
  }
}

.product {
  display: inline-block;
  width: 370px;
  margin: 10px;
  overflow: hidden;

  transition: 300ms ease opacity, 300ms ease transform 300ms;

  /* animation-name: fade-in; */
  animation-duration: 3000ms;
  animation-timing-function: ease;

  /* animation: fade-in 1000ms ease; */

  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.product-hide {
  animation-name: fade-in;
  animation-fill-mode: forwards;
}

.product:hover,
.product:focus-within {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
}

.product-meta {
  padding: 15px;
}

.product-name {
  margin-top: 0;
  margin-bottom: 10px;
}

.product-price {
  margin-top: 0;
  margin-bottom: 0;
}

.product-image-container {
  position: relative;
}

.product-actions {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translateX(-500px) translateY(-50%);

  outline: 3px solid orange;

  transition: 300ms ease;
  transition-property: opacity, transform;
}

.product-image-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  transform: translateX(-100%);
  transition: 300ms ease transform;
}

.product-image-container:hover:before {
  transform: none;
}

.product-image-container:hover .product-actions {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}

.product-actions .icon {
  width: 32px;
  height: 32px;
}
