.menu {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
}

.menu-item {
  position: relative;
  margin-right: 15px;
  outline: 2px solid tomato;
}

.menu-link {
  display: block;
  padding: 10px 20px;

  text-decoration: none;
  background-color: teal;
  color: white;
}

.submenu {
  position: absolute;
  width: 100%;

  margin: 0;
  list-style: none;
  padding: 10px;

  background-color: #ccc;
  opacity: 0;
  pointer-events: none;
}

.submenu .submenu {
  background-color: wheat;
  left: 100%;
  top: 0;
}

.menu-item:hover > .submenu {
  opacity: 1;
  pointer-events: auto;
}

.submenu a {
  text-decoration: none;
}
