@font-face {
    font-family: 'Example family';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/example-100.woff2) format('woff2'),
        url(../fonts/example-100.woff) format('woff'),
        url(../fonts/example-100.ttf) format('ttf');
}

@font-face {
    font-family: 'Example family';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/example-400.woff2) format('woff2');
}

@font-face {
    font-family: 'Example family';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/example-700.woff2) format('woff2');
}

@font-face {
    font-family: 'Example family';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/example-bold-it.woff2) format('woff2');
}

.list-item-example {
    font-family: 'Example family';
    font-weight: 700;
}


:root {
    --title-color: #000000;
    --accent-color: #18A0FB;
    --text-shadow: 0 0 5px #555;
    --font-logo: 'Comfortaa', 'Segoe UI', sans-serif;
    --font-text: 'Montserrat', 'Segoe UI', sans-serif;
    
    --shadow-color: rgba(0, 0, 0, 0.15);
    --text-color: rgba(0, 0, 0, 0.8)
}

html {
    box-sizing: border-box;
}

body {
    color:rgba(0, 0, 0, 80%);
    font-family: var(--font-text);
    letter-spacing: -0.015em;
    font-size: 18px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

/* 

Utilities

*/

.container {
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

}


.logo {
    font-family: Raleway, ;
}

.hero-title {
    color: var(--title-color);
    font-size: 56px;
    font-weight: 400;
    line-height: 80px;
    line-height: 1.42;
    text-align: center;
}

.section-title {
    color: var(--title-color);
    font-size: 48px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
}

.section-subtitle {
    color: var(--title-color);
    font-size: 36px;
}

.item-title {
    color: var(--title-color);
    font-size: 24px;
    font-weight: bold;
}

.button-primary,
.button-secondary {
    display: inline-block;
    padding: 11px 34px;
    border-radius: 6px;
    border: 1px solid transparent;
    min-width: 130px;
    text-align: center;

    /* transparent == rgba(0, 0, 0, 0%) */
}

.button-primary {
    background-color: var(--accent-color);
    color: #ffffff;   
}

.button-primary:hover,
.button-primary:focus {
    background-color: rgb(9, 71, 112);
}

.button-secondary {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.button-secondary:hover,
.button-secondary:focus {
    color: #000000;
    background-color:rgba(26, 160, 250, 0.1);
    border-color: #000000;
}

/* 

Header styles

*/

a {
    text-decoration: none;
}

.logo {
    font-family: var(--font-logo);
    color: #000000;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    color: #18A0FB;
}

.link:hover,
.link:focus {
    color: violet;
}

/* 

Hero section

*/

.hero-section {
    text-align: center;
}

/* 
    
Features styles 
    
*/

.features-section {
    padding-top: 120px;
    padding-bottom: 120px;
    outline: 5px solid salmon;
}

.feature-item p {
    margin-bottom: 32px;
}

/* 

Our works

*/

.our-works-section .section-title {
    display: none;
}

.our-work-item {
    padding-top: 80px;
    padding-bottom: 80px;
}

.our-work-item:nth-child(even) {
    background-color: #f5f5f5;
}

.d-none {
    display: none;
}

.button-round {
    display: inline-block;
    padding: 16px;
    background-color: var(--accent-color);
    color: white;
    font-weight: bold;
    margin: 50px;
    border-radius: 500%;
}

.button-round:hover,
.button-round:focus {
    background-color: navy;
}