.icon {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

@mixin get-icons-from-list($list-parameter) {
  @each $list-item in $list-parameter {
    .icon-#{$list-item} {
      background-image: url(../images/icon-#{$list-item}.svg);
    }
  }
}

$list: 'facebook', 'linkedin', 'instagram', 'twitter', 'test-social';
$another-list: 'icon-1', 'icon-2';

@include get-icons-from-list($list);
@include get-icons-from-list($another-list);
