$font-family: 'Open Sans', Roboto, sans-serif;
$text-color: black;
$bg-color: white;

$shadow-black: rgba(0, 0, 0, 0.15);
$regular-shadow: 0 0 10px 0 $shadow-black;
$timing-function: cubic-bezier(0, 0, 1, 1);
$transition-values: 250ms $timing-function;
