.reviews {
  @media screen and (max-width: $mobile-upper) {
    display: none;
  }
}

.reviews-list {
  @extend %list;
  @extend .grid;
}

.review-item {
  $colors: '#795548', '#607D8B', '#7B1FA2';

  @include colorize($colors);
  @extend .grid-item;

  text-align: center;
  color: #fff;
  font-size: 48px;
}

.review-item-content {
  padding: 40px;
}
