.grid {
  margin: -5px;

  @media all and (min-width: $tablet-lower) {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
}

.grid-item {
  padding: 5px;

  transition: 500ms ease all;

  @media screen and (min-width: $tablet-lower) {
    width: calc(100% / 2);
    padding: 10px;
  }

  @media screen and (min-width: $tablet-upper) {
    width: calc(100% / 3);
  }
}
